@import 'utilities';

.summary-box {
  text-align: center;
}

.summary {
  text-align: left;
}

.summary-heading {
  padding: 10px;
}

.summary-list {
  overflow: hidden;
}

.summary-tile {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
  border-radius: 2px;
  float: left;
  @include respond-to('sm') {
    display: block;
    float: none;
    width: 100%;
  }

  &--credit {
    .tile-inner {
      border: 1px solid darken($bg-green,5%);
      .summary-tile-heading {
        background: $bg-green;
        color: darken($bg-green,30%);
      }

      .summary-tile-body {

      }
    }
  }

  &--debit {
    .tile-inner {
      border: 1px solid darken($bg-red,5%);
      .summary-tile-heading {
        background: $bg-red;
        color: darken($bg-red,30%);
      }

      .summary-tile-body {

      }  
    }
  }

  &--bal {
    .tile-inner {
      border: 1px solid darken($bg-blue,5%);
      .summary-tile-heading {
        background: $bg-blue;
        color: darken($bg-blue,30%);
      }

      .summary-tile-body {

      }  
    }
  }
}
.summary-tile-heading {
  font-size: 1em;
}

.summary-tile-heading,.summary-tile-body {
  padding: 10px;
}